{% extends '_base.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="container">
  <h1>Customer Data</h1>
  <p class="lead">Spot some trends.</p>
  <a href="/">Go home</a>
  <br><br>
  {% if user %}
    <span>You are currently logged in as <strong>{{user.email}}</strong></span>
    <br>
    <a href="logout">Logout</a>
  {% endif %}
  <hr>

  <div class="row">
    <div class="col-xs-4">
      {% if merchant %}
      <h3>Menu:</h3>
      <br>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>
        {% for product in menu %}
        <tr>
          <td>{{loop.index}}</td>
          <td>
            <form id="delete-product-form{{product.id}}">
              <button type="submit" class="btn btn-primary">Delete</button>
            </form>
              {{product.name}}
            </a>
          </td>
          <td>{{product.amount}}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      {% else %}
      <h3>API:</h3>
      <br>
      <ul>
        <li>GET All Users - api/v1/users</li>
        <li>GET Single user - api/v1/user/:id</li>
        <li>GET All Products - api/v1/products</li>
        <li>POST All Products - api/v1/products</li>
        <li>GET Single Product - api/v1/product/:id</li>
        <li>POST All Merchants - api/v1/merchants</li>
        <li>GET Single Merchant - api/v1/merchant/:id</li>
      </ul>
      {% endif %}
      <br>
      <h3>Add Product:</h3>
      <form id="add-product-form">
        <div class="form-group">
          <label for="product-name">Product Name</label>
          <input type="text" class="form-control" id="product-name" placeholder="Enter a product" required>
        </div>
        <div class="form-group">
          <label for="product-price">Product Price</label>
          <input type="number" step="0.01" class="form-control" id="product-price" placeholder="Enter a price" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br>
      <p id="product-response"></p>

    </div>

    <div class="col-xs-6 col-xs-offset-1">
      <h3>Total Sales: <span class="total"><em>{{data.length}}</em></span></h3>
      <br>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
        {% for product in data %}
          <tr>
            <td>{{loop.index}}</td>
            <td>
              <a href="https://dashboard.stripe.com/test/logs?object={{product.token}}" target="_blank">
                {{product.name}}
              </a>
            </td>
            <td>{{moment(product.time).format("MM-DD-YYYY HH:mm")}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <br>
      <h3>Update Merchant Details: </h3>
      <form role="form" action="update" method="post" style="max-width: 300px;">
        <div class="form-group">
          <input type="email" name="email" placeholder="Enter Email" class="form-control"/>
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Password" class="form-control"/>
        </div>
        <div class="form-group">
          <input type="number" name="long" placeholder="Longitude" class="form-control"/>
        </div>
        <div class="form-group">
          <input type="number" name="lat" placeholder="Latitude" class="form-control"/>
        </div>
        <div class="form-group">
          <input type="text" name="firstName" placeholder="First Name" class="form-control"/>
        </div>
        <div class="form-group">
          <input type="text" name="lastName" placeholder="Last Name" class="form-control"/>
        </div>
        <div class="form-group">
          <input type="text" id="datepicker" name="dob" placeholder="Date of Birth" class="form-control"/>
        </div>
        <div class="form-group">
          <input type="text" name="type" value="individual" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        &nbsp;
        <a href="/"><button type="button" class="btn btn-primary">Cancel</button></a>
      </form>
    </div>

  </div>

</div>

{% endblock %}
